<header class='lander-top'>
  <h1><a href="/">Userpub.</a></h1>
  <h2>Want to take Userpub for a spin? It couldn't be easier.</h2>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 demo-sign-in">
      <div class="panel panel-primary">
        <div class="panel-heading">Sign into the Demo Account
        </div>
        <div class="panel-body">
          <%= form_tag "/demo", method: "post" do %>
            <div class="form-group">
              <label class="control-label">Your Name</label>
              <div class="controls">
                <input type="text" class="form-control" placeholder="Maurice Moss" name="name" required>
              </div>
            </div>
            <button type="submit" class="btn btn-warning btn-block">Give it a Spin!</button>
          <% end %>
        </div>
      </div>
      
      <p class="text-center"><i class="icon icon-hand-up"></i></p>
      <p class="lead">Judging is hard, so I tried to make it easy. Just enter your name and you'll be up and running.</p>
      <p>Of course, it would be remiss not to point out that the demo was <b>super easy</b> to create because of Userpub's simple <%= link_to "JSON Web Token single sign-on", "https://github.com/userpub/userpub/wiki/Single-Sign-On", target: "_blank" %> functionality. It takes less than 10 lines of code to integrate your app with Userpub, so really there's no excuse not to do it!</p>
      
      <hr>    
      <p class="text-center">Want to make your own account?</p>
      <%= form_tag "/auth/persona/callback", "ng-controller" => "PersonaCtrl", "method" => "post" do %>
        <input name="assertion" type="hidden">
        <button class="btn btn-primary btn-lg btn-block" ng-click="login()" type="button">Get Started Here</button>
      <% end %>
    </div>
  </div>
</div>