<header class='lander-top'>
  <h1>Userpub.</h1>
  <h2>Don't run a help desk, build a community.</h2>
  <p>Userpub is hosted group support chat for startups. It's that simple.</p>
</header>

<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 text-center"><a href="/demo"><img src="/images/screenshot.png" alt="Userpub Screenshot" class="img-responsive home-screenshot"></a></div>
</div>

<div class="text-center lead">
  <a href="/demo" class="btn btn-primary btn-lg">Check out the Demo</a> or 
  <%= form_tag "/auth/persona/callback", "ng-controller" => "PersonaCtrl", "method" => "post", "style" => "display: inline-block;" do %>
    <input name="assertion" type="hidden">
    <button class="btn btn-warning btn-lg btn" ng-click="login()" type="button">Get Started Here</button>
  <% end %>
</div>

<div class="container">
  <div class="row features">
    <div class="col-md-4 feature">
      <h3><i class="icon icon-comments-alt"></i> Classy Chat</h3>
      <p>Userpub has the niceties you want from a modern chat client. Autolinking,
        emoji, and inline images come standard. We also highlight your team's
        messages for the "official" touch.</p>
    </div>
    <div class="col-md-4 feature">
      <h3><i class="icon icon-key"></i> Bring Your Users</h3>
      <p>Userpub's simple Single Sign-On means your users don't have to sign up for
      yet another account. You can integrate with Userpub in less than 10 lines of
      code.</p>
    </div>
    <div class="col-md-4 feature">
      <h3><i class="icon icon-github"></i> Open Source SaaS</h3>
      <p>Userpub is completely open source released under the MIT License. That means improvements
      from the community, no lock-in, and nothing but good feelings!</p>
    </div>
  </div>
</div>