<header class='lander-top'>
  <h1>Userpub.</h1>
  <h2>Make your users happier than a stock photo full of smiling people.</h2>
</header>

<div class="container features">
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="feature-callout">
        <h3><i class="icon-comments-alt"></i> Live Group Chat</h3>
        <p>Talk to your users in real-time and let them get to know each other with Userpub's live group chat. Don't just help your users, hang out with them!</p>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="feature-callout">
        <h3><i class="icon-question-sign"></i> Questions</h3>
        <p>Users can ask (and answer!) questions about your product. Questions and answers can be voted up and it's super-easy to give "the official response."</p>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="feature-callout">
        <h3><i class="icon-inbox"></i> Suggestion Box</h3>
        <p>Let the voice of the users be heard! A communal, voteable suggestion box lets you know which features and fixes are most important to your customers.</p>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="feature-callout">
        <h3><i class="icon-book"></i> Knowledge Base</h3>
        <p>Write guides that will help users understand your product better. Users can also submit their own knowledge base articles or suggest corrections.</p>
      </div>
    </div>
  </div>
</div>

<div class="rumble-participant">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4"><img src="/images/rumble-logo.png" alt="Rails Rumble 2013 Participant" class="img-responsive"></div>
      <div class="col-sm-6 col-md-8 app-info">
        <p class="lead text-center">This application was created by Michael Bleigh for the 2013 Rails Rumble.</p>
        <p class="text-center">
          <a class="btn btn-primary btn-lg" href="/demo">Judging? Launch the Demo</a>
          <a class="btn btn-warning btn-lg" href="http://railsrumble.com/entries/241-userpub" target="_blank">Vote for Userpub!</a>
        </p>
      </div>
    </div>
  </div>
</div>