<header class='lander-top'>
  <h1>Userpub.</h1>
  <h2>Don't run a help desk, build a community.</h2>
  <p>Userpub is hosted group support chat for startups. It's that simple.</p>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1"><a href="/demo"><img src="/images/screenshot.png" alt="Userpub Screenshot" class="img-responsive home-screenshot"></a></div>
  </div>
</header>

<div class="rumble-participant">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4"><img src="/images/rumble-logo.png" alt="Rails Rumble 2013 Participant" class="img-responsive"></div>
      <div class="col-sm-6 col-md-8 app-info">
        <p class="lead text-center">This app was created for the 2013 Rails Rumble.</p>
        <p class="text-center">
          <a class="btn btn-primary btn-lg" href="/demo">Judging? Launch the Demo</a>
          <a class="btn btn-warning btn-lg" href="http://railsrumble.com/entries/241-userpub" target="_blank">Vote for Userpub!</a>
        </p>
      </div>
    </div>
  </div>
</div>