<section class='content-menu'>
  <h2><span ng-bind="account.name">Userpub</span> User Community</h2>
  <div class="list-group">
    <a href="/guides" class="list-group-item">
      <h4 class="list-group-item-heading">Guides and How-Tos</h4>
      <p class="list-group-item-text">Browse through helpful material to get a grip on the basics.</p>
    </a>
    <a href="/questions" class="list-group-item">
      <h4 class="list-group-item-heading">Questions &amp; Answers</h4>
      <p class="list-group-item-text">Have a question? Find your answers here, or help other users by answering their questions!</p>
    </a>
    <a href="/suggestions" class="list-group-item">
      <h4 class="list-group-item-heading">Suggestions</h4>
      <p class="list-group-item-text">Have an idea? Suggest it here and get feedback from the community and the <span ng-bind="account.name">account</span> team!</p>
    </a>
  </div>
</section>