@import "custom_bootstrap/custom_bootstrap.less";

.account-menu {
  margin-right: 10px;
}

.layout-card {
  background: white;
  padding: 10px;
  box-shadow: 2px 2px 9px rgba(0,0,0,0.1);
}

.chat {
  width: calc(~"50% - 20px");  
  height: calc(~"100% - 20px - 50px");
  top: 60px;
  left: 10px;
  float: left;
  position: fixed;
  padding: 0 0 57px 0;
}

.content {
  width: 50%;
  margin-left: 50%;
  margin-top: 50px;
  padding: 10px;
  
  > section > h2:first-child {
    margin-top: 0;
  }
}

@import "application/chat";