@import "custom_bootstrap/custom_bootstrap.less";

body {
  padding-top: 53px;
  background: #f5f5f5 url(/images/ticks.png);
}

.sidebar-content {
  padding-top: 25px;
}

.sidebar-content.stuck {
  padding-top: 75px;
}

.chat-messages {
  background: white;
}

.account-menu {
  margin-right: 10px;
}

@import "application/chat";
@import "application/sidebar";