@import "custom_bootstrap/custom_bootstrap.less";

.lander-top {
  text-align: center;
  
  h1 {
    font-size: 7em;
    margin: 0.3em 0 0;
    letter-spacing: -0.04em;
  }
  
  h2 {
    border-top: 8px solid @brand-primary;
    margin-top: -3px;
    font-family: @font-family-base;
    padding-top: 1em;
    font-weight: 300;
  }
}

.demo-sign-in {
  padding-top: 40px;
  
  .icon {
    color: #ddd;
    font-size: 6em;
  }
}

.rumble-participant {
  color: white;
  background: #1a1a1a;
  margin: 20px 0;
  padding: 15px 0;
  
  .app-info {
    padding-top: 70px;
  }
}