@import "custom_bootstrap/custom_bootstrap.less";

@-webkit-keyframes float {
  0% { .translate(0,0) }
  33% { .translate(0,10px) }
  67% { .translate(0,-10px) }
  100% { .translate(0,0) }
}

.lander-top {
  text-align: center;
  h1 {
    font-size: 7em;
    margin: 0.3em 0 0;
    letter-spacing: -0.04em;
    a {
      color: @text-color;
      &:hover { text-decoration: none; }
    }
  }
  
  h2 {
    border-top: 8px solid lighten(@brand-primary, 10%);
    margin-top: -3px;
    font-family: @font-family-base;
    padding-top: 1em;
    font-weight: 300;
  }
}

.demo-sign-in {
  padding-top: 40px;
  
  .icon {
    color: #ddd;
    font-size: 6em;
    &:before {
      .animation(float 2s infinite);
    }
  }
}

.rumble-participant {
  color: white;
  background: #1a1a1a;
  margin: 40px 0;
  padding: 15px 0;
  
  .app-info {
    padding-top: 70px;
  }
}

.home-screenshot {
  box-shadow: 2px 2px 20px @brand-primary;
  border: 3px solid @brand-primary;
  border-radius: 5px;
  margin: 20px auto;
  max-height: 500px;
  max-width: 100%;
  
  .transition-transform(0.3s);
  &:hover {
    .scale(1.05);
  }
}

@import "manage";
