.chat-messages {
  list-style: none;
  margin: 0;
  padding: 10px;
  overflow: auto;
  height: 100%;
}

.chat-message {
  font-size: 14px;
  
  .author {
    font-weight: bold;
    display: block;
    float: left;
    width: 130px;
    padding: 4px 8px;
    text-align: right;
  }
  
  .message {
    margin-left: 130px;
    display: block;
    padding: 4px 8px;
    
    pre {
      font-size: 12px;
      font-family: "Source Code Pro", monospace;
      padding: 8px 10px;
      background: transparent;
    }
  }
}

.chat-join {
  margin: 0;
}

.chat-box {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #eee;
  border-top: 1px solid #ddd;
  padding: 6px 10px;
  width: 100%;
  
  textarea {
    width: 90%;
    width: calc(~"100% - 80px");
    font-size: 12px;
    padding: 4px 6px;
    display: inline-block;
  }
  
  button {
    width: 70px;
    display: inline-block;
    margin-left: 10px;
    padding: 8px 12px;
  }
}
