<hr>
<p class="text-muted text-center">Copyright &copy; <%= Date.today.year %> Michael Bleigh. Built with <%= link_to "Divshot", "http://www.divshot.com/", target: "_blank" %>. <%= link_to "Open Source on GitHub", "https://github.com/userpub/userpub" %></p>