<!DOCTYPE html>
<html>
<head>
  <title>Userpub</title>  
  <%= stylesheet_link_tag    "lander", media: "all" %>
  <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic|Source+Code+Pro|Bree+Serif" rel="stylesheet" type="text/css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <%= javascript_include_tag "lander" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
