<nav class="navbar navbar-default account-header navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" ng-bind="account.name" href="/">Userpub Account</a>
  </div>
  <div class="btn-group navbar-right navbar-btn account-menu">
    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#" ><span class="name"ng-bind="user.d.name">Account Menu</span> <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li>
        <a href="/logout">Sign Out</a>
      </li>
    </ul>
  </div>
</nav>

<section class="chat layout-card" ng-controller="ChatCtrl">
  <ul class="chat-messages">
    <li ng-repeat="message in messages" class="chat-message" ng-init="authorIds[$index] = message.user.id">
      <span class="author" ng-bind="message.user.name" ng-hide="authorIds[$index-1] == message.user.id"> Author Name</span>
      <span class="message" ng-bind-html="message.text | chatMessage">Content of the message goes here.</span>
    </li>
  </ul>
  <form ng-submit="sendMessage()" class="chat-box">
    <textarea class="form-control" rows="2" ng-model="draft.text" ng-keypress="messageKeypress($event)"></textarea><button type="submit" class="btn btn-primary">Send</button>
  </form>
</section>

<section class='content' ng-view></section>